[Desktop Entry]
Version=1
Encoding=UTF-8
Name=Smb-Browser
Name[vi]=Ai-Browser
Name[uk]=SMB-браузер
Name[tl]=Magbigay-ng Browser
Name[sv]=Smb-Browser
Name[sl]=SMB-Browser
Name[sk]=Komu-Browser
Name[ru]=SMB-браузер
Name[ro]=SMB-Browser
Name[pt]=SMB-Browser
Name[pl]=SMB-Przeglądarka
Name[no]=SMB-Browser
Name[nl]=Smb-Browser
Name[lv]=Smb-Browser
Name[lt]=SMB-naršyklė
Name[ja]=だい-ブラウザ
Name[iw]=SMB-Browser
Name[it]=Smb-Browser
Name[id]=Seseorang-Browser
Name[hr]=SMB Browser
Name[hi]=किस-ब्राउज़र
Name[fr]=SMB-Browser
Name[fi]=SMB-selain
Name[es]=SMB-Browser
Name[en]=Smb-Browser
Name[el]=Smb-Browser
Name[de]=SMB-Browser
Name[da]=Smb-Browser
Name[cs]=Komu-Browser
Name[ca]=SMB-Browser
Name[bg]=SMB-Browser
Name[ar]=الشركات الصغيرة والمتوسطة ، مستعرض
GenericName=Samba Browser
GenericName[vi]=Samba Browser
GenericName[uk]=Samba Browser
GenericName[tl]=Samba ng Browser
GenericName[sv]=Samba Browser
GenericName[sl]=Samba Browser
GenericName[sk]=Samba Browser
GenericName[ru]=Samba Browser
GenericName[ro]=Samba Browser
GenericName[pt]=Samba Browser
GenericName[pl]=Samba Przeglądarka
GenericName[no]=Samba Browser
GenericName[nl]=Samba Browser
GenericName[lv]=Samba Browser
GenericName[lt]=Samba naršyklė
GenericName[ja]=Sambaのブラウザ
GenericName[iw]=סמבה דפדפן
GenericName[it]=Samba Browser
GenericName[id]=Samba Browser
GenericName[hr]=Samba Browser
GenericName[hi]=सांबा ब्राउज़र
GenericName[fr]=Samba Browser
GenericName[fi]=Samba Browser
GenericName[es]=Samba Browser
GenericName[en]=Samba Browser
GenericName[el]=Samba Browser
GenericName[de]=Samba-Browser
GenericName[da]=Samba Browser
GenericName[cs]=Samba Browser
GenericName[ca]=Samba Browser
GenericName[bg]=Самба браузър
GenericName[ar]=السامبا المستعرض
Comment=A browser of the shared directories
Comment[vi]=Một trình duyệt của những thư mục được chia sẻ
Comment[uk]=Браузер загальні каталоги
Comment[tl]=Isang browser ng shared directories
Comment[sv]=En läsare av den delade kataloger
Comment[sl]=Brskalnik od skupnih imenikov
Comment[sk]=Prehliadač zdieľaných adresárov
Comment[ru]=Браузер общие каталоги
Comment[ro]=Un browser de directoare partajate
Comment[pt]=Um navegador de diretórios compartilhados
Comment[pl]=Przeglądarki wspólne katalogi
Comment[no]=En kikker av delte kataloger
Comment[nl]=Een browser van de gedeelde mappen
Comment[lv]=Pārlūkprogramma dalītas katalogi
Comment[lt]=Dėl bendrų katalogų naršyklę
Comment[ja]=共有ディレクトリのブラウザ
Comment[iw]=דפדפן של ספריות משותפות
Comment[it]=Un browser delle directory condivise
Comment[id]=Sebuah browser direktori bersama
Comment[hr]=Preglednik zajedničke direktorije
Comment[hi]=साझा निर्देशिका का एक ब्राउज़र
Comment[fr]=Un navigateur des répertoires partagés
Comment[fi]=Selain on jaettu hakemistot
Comment[es]=Un explorador de los directorios compartidos
Comment[en]=A browser of the shared directories
Comment[el]=Ένα πρόγραμμα περιήγησης των κοινών καταλόγων
Comment[de]=Ein Browser der freigegebenen Verzeichnisse
Comment[da]=En browser af de delte mapper
Comment[cs]=Prohlížeč sdílených adresářů
Comment[ca]=Un explorador dels directoris compartits
Comment[bg]=А браузъра на споделените директории
Comment[ar]=متصفح من الدلائل المشتركة
Exec=smb-browser
Icon=smb-browser
Terminal=false
MultipleArgs=false
Type=Application
Categories=System;Application;Network
