[Desktop Entry]
Version=1
Encoding=UTF-8
Name=Browser of Shared Items
Name[vi]=Trình duyệt của Chia sẻ
Name[uk]=Обозреватель Share
Name[tl]=Browser ng Share
Name[sv]=Browser av Share
Name[sl]=Browser of Share
Name[sk]=Prehliadač Share
Name[ru]=Обозреватель Share
Name[ro]=Browser din cota de
Name[pt]=Navegador do Capital
Name[pl]=Przeglądarka udziału
Name[no]=Browser av Share
Name[nl]=Browser van het Aandeel
Name[lv]=Pārlūkprogramma Share
Name[lt]=Naršyklė akcijų
Name[ja]=ブラウザーのシェアの
Name[iw]=הדפדפן של שיתוף
Name[it]=Browser di Share
Name[id]=Browser Saham
Name[hr]=Browser dioničkog
Name[hi]=हिस्से की ब्राउज़र
Name[fr]=Navigateur d'éléments partagés
Name[fi]=Selaimen Jaa
Name[es]=Navegador de Compartir
Name[en]=Browser of Share
Name[el]=Browser του Μετοχικού
Name[de]=Browser von Share
Name[da]=Browser af Share
Name[cs]=Prohlížeč Share
Name[ca]=Navegador de Compartir
Name[bg]=Браузър на дела
Name[ar]=متصفح للسهم
GenericName=smb-browser
Comment=A browser of the shared directories
Comment[vi]=Một trình duyệt của những thư mục được chia sẻ
Comment[uk]=Браузер загальні каталоги
Comment[tl]=Isang browser ng shared directories
Comment[sv]=En läsare av den delade kataloger
Comment[sl]=Brskalnik od skupnih imenikov
Comment[sk]=Prehliadač zdieľaných adresárov
Comment[ru]=Браузер общие каталоги
Comment[ro]=Un browser de directoare partajate
Comment[pt]=Um navegador de diretórios compartilhados
Comment[pl]=Przeglądarki wspólne katalogi
Comment[no]=En kikker av delte kataloger
Comment[nl]=Een browser van de gedeelde mappen
Comment[lv]=Pārlūkprogramma dalītas katalogi
Comment[lt]=Dėl bendrų katalogų naršyklę
Comment[ja]=共有ディレクトリのブラウザ
Comment[iw]=דפדפן של ספריות משותפות
Comment[it]=Un browser delle directory condivise
Comment[id]=Sebuah browser direktori bersama
Comment[hr]=Preglednik zajedničke direktorije
Comment[hi]=साझा निर्देशिका का एक ब्राउज़र
Comment[fr]=Un navigateur des répertoires partagés
Comment[fi]=Selain on jaettu hakemistot
Comment[es]=Un explorador de los directorios compartidos
Comment[en]=A browser of the shared directories
Comment[el]=Ένα πρόγραμμα περιήγησης των κοινών καταλόγων
Comment[de]=Ein Browser der freigegebenen Verzeichnisse
Comment[da]=En browser af de delte mapper
Comment[cs]=Prohlížeč sdílených adresářů
Comment[ca]=Un explorador dels directoris compartits
Comment[bg]=А браузъра на споделените директории
Comment[ar]=متصفح من الدلائل المشتركة
Exec=smb-browser
Icon=emblem-people
Terminal=false
Type=Application
Categories=Application;Network;FileManager
NoDisplay=true
